html {
    margin: 0;
    padding: 0;
}
#header {
    background-image: bg.jpg;
    background-size: cover;
}
#header img {
    display: block;
    margin: auto;
}
#header p {
    font-family: 'Sacramento', cursive;
    font-size: 40pt;
    color: #000;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
body {
    font-size: 13pt;
    background-color: #efefef;
    padding: 30px;
    margin: 100;
}
h1 {
    font-size: 15pt;
    color: #000;
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 0 0 10px 0;
}
h1 span {
    font-family: 'Dancing Script', cursive;
	font-size: 24pt;
}
h4 {
	font-family: 'Pioret 0ne', cursive;
	font-size: 15pt;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.section {
    align-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 16px;
}
p {
    font-size:15pt;
    text-align:center;
    font-family:'Dancing Script', cursive;
}
#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts {
    text-align: center;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}